* {
    box-sizing: border-box;
    border-radius: 4px;
}
a:hover, a:active, a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: Arial;
    padding: 20px;
    background: #abc9a2;
}
.header{
    background: rgb(236, 236, 236);
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
.content {
    float: left;
    width: 100%;
}
.column {
    float: left;
    width: 100%;

}
.thumbnail {
    background-color: #d8ddce;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}
.smallPost {
    background-color: rgb(255, 255, 234);
    padding: 20px;
    margin-top: 20px;
}
.post {
    background-color: rgb(255, 255, 234);
    padding: 20px;
    margin-top: 20px;
}

.grid{
    margin-left: 7%;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:33% 33% 33%;
    grid-template-areas:
            "doc1 doc2 doc3 doc4"
            "doc5 doc6 doc7 doc8"
            "doc9 doc10 doc11 doc12";

}

.window{
    background-color: rgb(236, 236, 236);
    padding: 15px;
    margin-top: 20px;
}
.popular{
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    margin-top: 20px;
}

.middle:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    background: rgb(236, 236, 236);


}

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {

}

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
    .content {
        float: left;
        width: 75%;
    }
    .column {
        float: left;
        width: 25%;
        padding-left: 20px;
    }

}

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) {

}