* {
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Play';
}

.header, .content, .post, .window, .popular, .footer
{
    box-shadow: 4px 4px 3px 1px lightslategrey;
}
.post, .smallPost{
    border: 1px solid wheat;
    box-shadow:5px 8px 15px 3px wheat inset;
}
a:hover, a:active, a {
    text-decoration: none;
    color: inherit;
}
body {
    padding: 5px;
    background: #abc9a2;
}

.header {
    list-style-type: none;
    margin: 10px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    background-color: rgb(236, 236, 236);
}
.header > a, h1{
    float:left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 85%;
}

.content {
    float: left;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(236, 236, 236);
}
.column {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.thumbnail {
    background-color: #d8ddce;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}
.smallPost {
    background-color: rgb(255, 255, 234);
    padding: 20px;
    margin-top: 20px;
}
.post {
    background-color: rgb(255, 255, 234);
    padding: 20px;
    margin-top: 20px;
}

.grid{
    margin-left: 7%;
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:30% 3% 30% 3% 30% 3%;
    grid-template-areas:

            "doc1 doc2 doc3 doc4"
            "text1 text2 text3 text4"
            "doc5 doc6 doc7 doc8"
            "doc9 doc10 doc11 doc12";
}

.grid_item{
    border: 1px solid wheat;
    border-radius: 0px;
}

.gridImage{
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgDesc{
    font-family: 'Share Tech Mono';
    font-size: 20px;
    font-variant: small-caps;
    display: block;
    text-align: center;
}

.window{
    background-color: rgb(236, 236, 236);
    padding: 15px;
    margin-top: 20px;
}
.popular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(236, 236, 236);
    padding: 20px;
    margin-top: 20px;
}

.middle:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    background: rgb(236, 236, 236);
}

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {

}

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
    .content {
        float: left;
        width: 75%;
    }
    .column {
        width: 25%;
        padding-left: 20px;
    }

}

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) {

}